{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}
        Freeshelf 2018
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
        <h1>Freeshelf Fall 2018</h1>
        <nav>
            <ul>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
                {% if user.is_authenticated %}
                
                    <a href="{% url 'auth_logout' %}">Logout</a>
                
                {% else %}
                
                    <a href="{% url 'auth_login' %}">Login</a>
                
                    <a href="{% url 'registration_register' %}">Register</a>
                
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>