{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    {% for book in books %}
    <h2><a href="{% url 'book_detail' slug=book.slug %}">
        {{ book.title}}</h2>
        </a></h2>
    <p>{{ book.author }}</p>
    <p>{{ book.description }}</p> 
    {% endfor %}   
    {% comment %} <h1>Hello, Freeshelf!</h1>
    <p>I am Freeshelf basic.</p>
    <p>There are {{ number|apnumber }} dogs! {% endcomment %}
    {% comment %} <p>{% if number %}Number exists!{% endif %}</p> {% endcomment %}
{% endblock content %}
